.pytest_cache/
.eggs/
.idea/workspace.xml
.idea/tasks.xml
.idea/jpa-buddy.xml
.idea/php.xml
venv/
*.pyc

dist/
build/
*.egg-info/

.tox/
.coverage/
target/
dist/
.pytest_cache/
.mypy_cache/
.mypy_cache

