[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws_cfn_update = {editable = true, path = "."}

[dev-packages]
twine = "*"
setuptools = "*"
"botocore-stubber-recorder" = ">=0.4.3"

[requires]
python_version = "3.9"
