[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws_cfn_update = {editable = true, path = "."}

[requires]
python_version = "3.12"

[dev-packages]
setuptools_scm = "*"
tox = "*"
build = "*"
twine = "*"
pytest = "*"
